body {
  background-color: skyblue;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  font-family: cursive;
}

.form-body {
  display: flex;
  flex-direction: column;
  background-color: cyan;
  width: 380px;
  height: auto;
  margin-top: 20px;
  padding: 20px;
  font-family: cursive;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 0px 20px 6px black;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 10px 16px;
  font-size: 1.2em;
}

.form-control input[type="text"],select {
  border: 0px;
  border-radius: 8px;
  font-size: 1.2em;
  height: 26px;
  box-shadow: 4px 2px 4px 4px black;
}

.btn-primary {
  align-self: center;
  background-color: #007bff;
  padding: 10px;
  font-size: 1.1em;
  font-weight: 600;
  border: 0px;
  border-radius: 12px;
  width: 100%;
  transition: 0.3s;
}

.btn-primary:hover {
  width: 40%;
  background-color: black;
  color: white;
  transition: 0.3s;
}
